.bg-my  {background-color: #10c78a;}
.text-my{color: #10c78a;}
button.active.btn  {background-color: #10c78a; font-weight: 600;}
.btn-my-teal {background-color: #10c78a;}
.btn-my-teal:hover {background-color: #0d9e6e;}
.btn-outline-my-teal {border-color: #10c78a; color: #10c78a;}
.btn-outline-my-teal:hover {background-color: #0d9e6e;}
.btn-my {background-color: white}
.btn-my:hover {border-color: black}
a       {color: black;}
a:hover {color: grey;}
button.task_active_bin, button.task_done_bin  {font-style: italic; color: grey;}
span.task_active_bin, span.task_done_bin    {font-style: italic; color: grey;}
.task_title_text, .task_date    {overflow-wrap: break-word;}