{% extends "layout.html" %}

{% block title %}
{{ view }}
{% endblock %}

{% block main %}
    <div class="container">
        <div id="tasklist">
            {% include "tasklist.html" %}
        </div>
        <!-- Add new task block -->
        <div id="task_add_new container">
            <form class="{{ view }}" id="form_task_add_new">
                <div class="row">
                    <div class="col-4  align-end">
                        <input autocomplete="off" id="task_new" name="task_new" placeholder="New task" type="text" required>
                    </div>
                    <div class="col-4 align-start">
                        <input autocomplete="off" id="taskadd_date" name="taskadd_date" placeholder="date" type="date" value="">
                        <button type="submit" class="btn btn-success">Add</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}