{% extends "layout.html" %}

{% block title %}

{% endblock %}

{% block main %}
    <p>TODO</p>
    <form action="/" method="post">
        <div>
            <input autocomplete="off" id="task_new" name="task_new" placeholder="New task" type="text">
            <button type="submit">Add</button>
        </div>
    </form>
    <div>
        <p>Task list:</p>
        {% for task in tasks %}
            <p value="{{ task.id }}">
                {{ task.created }} || {{ task.title }} || <a href="/project{{ task.project_id }}">{{ task.project }}</a>
            </p>
        {% endfor %}
    </div>

{% endblock %}