{% extends "layout.html" %}

{% block title %}
{{ view | capitalize }}
{% endblock %}

{% block main %}
    <!-- nav sidemenu -->
    <div class="d-flex align-items-start p-3">
        <div class='d-flex'>
            <div class="offcanvas-md offcanvas-start w-50" tabindex="-1" data-bs-scroll="true" id="viewlist_offcanvas" aria-labelledby="offcanvasResponsiveLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasResponsiveLabel">Choose which task group to view</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#viewlist_offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="nav flex-column d-md-flex" id="viewlist">
                        <li class="nav-item">
                            <button class="btn btn-my active" type="button" name="view" value="today" data-bs-dismiss="offcanvas" data-bs-target="#viewlist_offcanvas">Today</a>
                        </li>
                        <li class="nav-item">
                            <button class="btn btn-my" type="button" name="view" value="upcoming" data-bs-dismiss="offcanvas" data-bs-target="#viewlist_offcanvas">Upcoming</a>
                        </li>
                        <li class="nav-item">
                            <button class="btn btn-my" type="button" name="view" value="nodate" data-bs-dismiss="offcanvas" data-bs-target="#viewlist_offcanvas">No date</a>
                        </li>
                        <li class="nav-item">
                            <button class="btn btn-my" type="button" name="view" value="all" data-bs-dismiss="offcanvas" data-bs-target="#viewlist_offcanvas">All tasks</a>
                        </li>
                        <li class="nav-item">
                            <button class="btn btn-my" type="button" name="view" value="completed" data-bs-dismiss="offcanvas" data-bs-target="#viewlist_offcanvas">Completed</a>
                        </li>
                        <li class="nav-item">
                            <button class="btn btn-my" type="button" name="view" value="deleted" data-bs-dismiss="offcanvas" data-bs-target="#viewlist_offcanvas">Deleted</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="tasklist" class="container">
            <div class="row justify-content-center">
                <div class="col-md-auto">
                    {% include "tasklist.html" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}