<div class="container-fluid" id="notasks">
    <button id="active_view" value="{{ view }}" class="invisible" type="button"></button>
    <div class="row text-center mb-200">
        <div class="col m-5 p-5">
            {% if view == 'today' %}
                <span>No tasks left. Enjoy your day! ;)</span>
            {% else %}
                <span>No tasks here</span>
            {% endif %}
        </div>
    </div>
    <!-- Add new task block -->
    <tfoot id="task_add_new">
        <tr>
            <td></td>
            <td>
                <input form="form_task_add_new" class="form-control-plaintext" autocomplete="off" id="task_new" name="task_new" placeholder="New task" type="text" required>
            </td>
            <td>
                <input form="form_task_add_new" class="form-control" style="border:0px;" autocomplete="off" id="taskadd_date" name="taskadd_date" placeholder="date" type="date" value="">
            </td>
            <td>
                <button form="form_task_add_new" type="submit" class="btn btn-my py-1">+</button>
            </td>
        </tr>
    </tfoot>
</div>