{% block main %}
    <button id="active_view" value="{{ view.type }}" class="invisible" type="button"></button>
    <div class="tab-content">
        {% for task in tasks %}
            {% include "task.html" %}
        {% endfor %}
        <div id="tasklist_end">
        </div>
    </div>
    <!-- Add new task block -->
    <div id="task_add_new">
        <form class="view_{{ view.type }}" id="form_task_add_new">
            <input autocomplete="off" id="task_new" name="task_new" placeholder="New task" type="text" required>
            <button type="submit" class="btn btn-success">Add</button>
        </form>
    </div>

    <!-- Empty bin modal block -->
    {% if view.type == 'deleted' %}
        <!-- Button trigger modal -->
        <button type="button" class="btn bg-my" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Empty bin
        </button>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">WARNING!</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                This action will lead to inrestorable deletion of tasks in the trash bin. No undo!
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <form action="/" method="POST">
                    <button type="submit" name="bin_empty" value="1" class="btn btn-danger">DELETE PERMANENTLY</button>
                </form>
                </div>
            </div>
            </div>
        </div>
    {% endif %}
{% endblock %}