<button id="active_view" value="{{ view }}" class="invisible" type="button"></button>
<div class="tab-content">
    <div class="container-fluid container-sm">
        <div class="row d-sm-none mb-4">
            <div class="col text-center text-muted">
                <span class="text-my">{{ view | capitalize }}</span>
            </div>
        </div>
        <form id="task_action"></form>
        <form id="form_task_add_new" class="{{ view }}"></form>
        <table class="table table-hover">
            <thead>
                <th scope="col"></th>
                <th scope="col">Task</th>
                <th scope="col">Due date</th>
                <th scope="col"></th>
            </thead>
            <tbody>
                {% for task in tasks %}
                    {% include "task.html" %}
                {% endfor %}
                <tr id="tasklist_end"></tr>
            </tbody>
            <!-- Add new task block -->
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
        <div id="task_add_new" class="container-fluid container-sm">
            <form class="{{ view }}" id="form_task_add_new">
                <hr>
                <div class="row row-cols-2 justify-content-sm-center" style="border:1px;">
                    <div class="col-12 col-sm-4">
                        <input class="form-control-plaintext" autocomplete="off" id="task_new" name="task_new" placeholder="New task" type="text" required>
                    </div>
                    <div class="col-6 col-sm-auto">
                        <input class="form-control" style="border:0px;" autocomplete="off" id="taskadd_date" name="taskadd_date" placeholder="date" type="date" value="">
                    </div>
                    <div class="col-1 col-sm-2">
                        <button type="submit" class="btn active">Add</button>
                    </div>
                </div>
            </form>
        </div>



                </tr>
            </tfoot>
        </table>
    </div>
</div>

{% if view == 'deleted' %}
    <!-- Empty bin modal block -->
    <!-- Button trigger modal -->
    <div class="container-sm">
        <div class="row justify-content-between">
            <div class="col-1"></div>
            <div class="col-1">
                <button type="button" class="btn bg-my" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Empty bin
                </button>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">WARNING!</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    This action will lead to inrestorable deletion of tasks in the trash bin. No undo!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <form action="/" method="POST">
                        <button type="submit" name="bin_empty" value="1" class="btn btn-danger">DELETE PERMANENTLY</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endif %}