<div>
    <form action="/" method="POST">
        <button type="{% if task.status in ['active', 'done'] %}submit{% else %}button{% endif %}" name="task_mark" value="{{ task.id }}" style="display: contents;">
            {% if task.status == 'active' %}
                ◯
            {% elif task.status == 'done' %}
                ✓
            {% else %}
                —
            {% endif %}
        </button>
        <span>[{{ task.status }}] {{ task.created }} || {{ task.title }} ||</span>
        <!-- <a href="/project{{ task.project_id }}">{{ task.project }}</a> -->
        <button type="submit" name="task_delete" value="{{ task.id }}" style="display: contents;">🗑️</button>
    </form>
</div>